body {
	background-image: url(http://getwallpapers.com/wallpaper/full/b/5/6/450195.jpg);
}

h1 {
	padding-top: 1cm;
	font-size: 900;
	text-align: center;
	font-style: italic;
	font-weight: 900;
	text-decoration: none;
}

#id {
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
	font-weight: bolder;
	text-decoration: none;
}
#id:hover{
	opacity: 0.4;
	text-decoration: underline;
}

#key {
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
	text-decoration: none;

}
#key:hover{
	opacity: 0.4;
	text-decoration: underline;
}
#add {
	color: white;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
	text-decoration: none;

}
#add:hover{
	opacity: 0.4;
	text-decoration: underline;
}

#addform {
	color: white;
	font-family: sans-serif;
}

.addpage{
	text-shadow: 2px 2px 4px #000000;
	padding-top: 3cm;
	text-align: center;
	color: white;
	font-family: sans-serif;
}
#filminfo{
	padding-top: 2cm;
  font-size: 30;
	color:white;
}
#nofilmfound{
	padding-top: 3cm;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
	font-size: 100;
	font-weight: bolder;
	color: white;
	text-align: center;
}
.deleted{
	padding-top: 9cm;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
	font-size: 100;
	font-weight: bolder;
	color: white;
	text-align: center;
	background-image: url(https://img-new.cgtrader.com/items/834717/f5fa2fcae3/trash-can-4k-pbr-game-ready-3d-model-low-poly-obj-3ds-fbx-tga.jpg);
}
.editpage{
	text-shadow: 2px 2px 4px #000000;
	padding-top: 3cm;
	text-align: center;
	color: white;
	font-family: sans-serif;
}
#returnhome{
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	font-size: 60;
}
#idbody{
	text-shadow: 2px 2px 4px #000000;
	padding-top: 4cm;
	text-align: center;
	color: white;
	font-family: sans-serif;
}
#keyword{
	text-shadow: 2px 2px 4px #000000;
	padding-top: 4cm;
	text-align: center;
	color: white;
	font-family: sans-serif;
}
#searchjsp{
	text-shadow: 2px 2px 4px #000000;
	color: white;
	font-family: sans-serif;
}
#nonefound{
	padding-top: 7cm;
	text-shadow: 2px 2px 4px #000000;
	font-size: 100;
	font-family: sans-serif;
	font-weight: bolder;
	color: white;
	text-align: center;
}
#idkeywordjsp{
	padding-top: 3cm;
}
